/* body{
    margin: 0;
    padding: 0;
    background-color: rgb(14 158 153);
} */
body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.logo{
    width: 15vw;
    
}
.nav-link:hover{
 color: rgba(143,62,218,0.83);
}
#Header{
    background-color: azure;
    background-image: url(../img/sentada-pasto.jpg);
    background-size: cover;
    h1{

        text-shadow: 4px 2px 4px rgba(143,62,218,0.83);
    }
}
.text-purple{
    color: rgb(186, 100, 176);
}
.btn-master{
    background-color: rgb(186, 100, 176);
    width: inherit;
    border:none;
    &:hover{
        background-color: rgb(87, 35, 216);
        color: white;
        font-weight: bold;
    }
}
.row{
    justify-content: space-evenly;
}
#Proyectos{

    padding: 2rem;
}
.title-proyectos{
    color: rgb(148, 19, 133);
}


.card{
    --bs-card-bg: #f9cdffa1;
    padding: 0;
}
.card-img-top{
    height: 40vh;
}
