body{
    background-color: #373a3c;
}

.logo{
    width: 13rem;
}
.nav-link:hover{
 color: rgba(143,62,218,0.83);
}
#header{

    background-image: url(../img/sentada-pasto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15vh;
  
}

.header-title{
    color: whitesmoke;
    text-shadow: 4px 2px 4px rgba(143,62,218,0.83);
}
.subtitle-header{
font-size: 1.8em;
    color: black;
    text-shadow: 4px 2px 4px rgba(143,62,218,0.83);
}
.btn-morado{
    background-color: rgb(235, 159, 252);
    border-color:rgb(211, 161, 236);
    width: inherit;
    &:hover{
        background-color: rgb(62, 9, 76);
        color: white;
        font-weight: bold;
    }

}
.btn-portafolio {
    background-color: #680993;
    &:hover{
        background-color: rgb(62, 9, 76);
        color: white;
        font-weight: bold;
    }
}
.accordion{
    --bs-accordion-active-color: rgba(143,62,218,0.83);
    --bs-accordion-active-bg: #d99a71ba;
}
.accordion-button{
    background-color: #a218f952;
}
.list-group-item{
    background-color: #e3bdfae3;
    border: var(--bs-list-group-border-width) solid #d376ff;

}
.title-section{
    color: #bd2dff;
    font-size: 2em;
}
hr {
    margin: 1rem 0;
    color: #d0b1f8;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: inherit;
}
.accordion-button:focus{
 box-shadow: none;
}
#Contacto h4{
    color: #bd2dff;
}
#Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  .redes{
    /* border:1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .redes-link{
    width: 50px;
    height: 50px;
    /* border: 1px solid blue; */
    margin-left: 20px;
  }
  .redes-link.github{
    background-image: url(../img/icons8-github.svg);
    background-size: 50px 50px;
  }
  .redes-link.linkedin{
    background-image: url(../img/icons8-linkedin\ \(1\).svg);
    background-size: 50px 50px;
  }
  