body{
    margin: 0;
    padding: 0;
    background-color: rgb(14 158 153);
}

.logo{
    width: 15vw;
    
}
.nav-link:hover{
 color: rgba(143,62,218,0.83);
}
#Header{
    background-color: azure;
    border-radius: 80% 30%;
    background-image: url(../img/sentada-pasto.jpg);
    background-size: cover;
    h1{

        text-shadow: 4px 2px 4px rgba(143,62,218,0.83);
    }
}
.text-purple{
    color: rgb(186, 100, 176);
}
.btn-master{
    background-color: rgb(186, 100, 176);
    border:none;
    &:hover{
        background-color: rgb(87, 35, 216);
        color: white;
        font-weight: bold;
    }
}
.row{
    justify-content: space-evenly;
}
#Proyectos{

    padding: 2rem;
}
.title-proyectos{
    color: rgb(148, 19, 133);
}


.card{
    --bs-card-bg: #f9cdffa1;
    padding: 0;
}
.card-img-top{
    height: 40vh;
}
