body{
    background-color: #373a3c;
}

.logo{
    width: 10vw;
}
.nav-link:hover{
 color: rgba(143,62,218,0.83);
}
#header{
    background-image: url(../img/sentada-pasto.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    
  
}

.header-title{
    color: whitesmoke;
    text-shadow: 4px 2px 4px rgba(143,62,218,0.83);
}
.subtitle-header{

    color: black;
    text-shadow: 4px 2px 4px rgba(143,62,218,0.83);
}
.btn-morado{
    background-color: blueviolet;
    border-color:darkorchid;
    &:hover{
        background-color: rgb(62, 9, 76);
        color: white;
        font-weight: bold;
    }

}
.accordion{
    --bs-accordion-active-color: #860999;
    --bs-accordion-active-bg: #d99a71ba;
}
.accordion-button{
    background-color: #a218f952;
}
.list-group-item{
    background-color: #e3bdfae3;
    border: var(--bs-list-group-border-width) solid #d376ff;

}
.title-section{
    color: #bd2dff;
    font-style: italic;
}
#Contacto h4{
    color:rgba(248, 166, 73, 0.83);
}
#Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  